body {
    background-color: lightgray;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid black;
    color: black;
    text-align: left;
}

td {
    background-color: white;
}

th {
    background-color: gray;
}

.txtboldunderline {
    font-weight: bold;
    text-decoration: underline;
}

.ultxtblack {
    color: black;
}

.sectionsp {
    font-family: "Vibur", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #f0e7ca;
    color: red;
}

.sectionrj {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #d2e0fb;
    color: #154f95
}

.sectionmg {
    background-color: lightgray;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #fff9e1;
    color: #65825e
}

.vibur {
    font-family: "Vibur", cursive;
    font-weight: 400;
    font-style: normal;
}

.bebasneue {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
